<div class="container">
  <h1>Recent Flats</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Barcelone</h2>
          <p>Viva Cataluna</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/agaloub">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/rio');">
          <div class="card-category">Popular</div>
          <div class="card-description">
          <h2>Le Wagon Rio</h2>
          <p>Viva Brazil</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/donatienrolland">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Paris</h2>
          <p>Bienvenue à Paris</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/alexialet">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
